src/
node_modules/
.git/
tests/
tsconfig.json
.eslintrc.js
jest.config.js
.prettierrc.js
.releaserc.json
.gitignore
.github
coverage/
example/,
.eslintrc.cjs,
fixTypeModule.js
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.types.json











